version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.development
    container_name: cineclub_backend_dev
    env_file:
      - .env
    environment:
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
      - SPRING_DATA_MONGODB_URI=${SPRING_DATA_MONGODB_URI}
      - SPRING_REDIS_HOST=${SPRING_REDIS_HOST}
      - SPRING_REDIS_PORT=${SPRING_REDIS_PORT}
      - SPRING_REDIS_USER=${SPRING_REDIS_USER}
      - SPRING_REDIS_PASSWORD=${SPRING_REDIS_PASSWORD}
    ports:
      - '${APP_PORT:-8080}:8080'
    volumes:
      - .:/app
    command: ['./mvnw', 'spring-boot:run']
