version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: mongo_dev
    restart: unless-stopped
    command: --bind_ip_all
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    ports:
      - '27018:27017'
    volumes:
      - mongo_dev_data:/data/db

  redis:
    image: redis:7
    container_name: redis_dev
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    ports:
      - '6379:6379'
    volumes:
      - redis_dev_data:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile.development
    container_name: cineclub_backend_dev
    depends_on:
      - mongo
      - redis
    env_file:
      - .env
    environment:
      - SPRING_DEVTOOLS_RESTART_ENABLED=true
    ports:
      - '${APP_PORT:-8080}:8080'
    volumes:
      - .:/app
    command: ['./mvnw', 'spring-boot:run']

volumes:
  mongo_dev_data:
  redis_dev_data:
